.policy-container {
  padding: 20px;
}

.full-width {
  width: 100%;
}

.header-row {
  background-color: #1976d2;
  color: white;
}

.data-row {
  transition: transform 0.2s;
}
.data-row:hover {
  transform: scale(1.02);
  background-color: #f1f1f1;
}

/* Optional: striped rows */
.mat-row:nth-child(even) {
  background-color: #f9f9f9;
}

mat-chip {
  font-weight: bold;
  color: rgb(144, 124, 124);
}


.top-right-button {
  position: absolute; /* Fixes it relative to nearest positioned ancestor */
  top: 16px;          /* Distance from top of page */
  right: 16px;        /* Distance from right of page */
  z-index: 1000;      /* Ensures it’s above other content */
}

@media (max-width: 768px) {
  .top-right-button {
    top: 8px;
    right: 8px;
    width: auto;
    font-size: 0.9rem;
  }
}
.spacer {
  flex: 1 1 auto;
}
